.header {
  width: 100%;
  padding: 30px;
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    display: flex;
    align-items: center;
    gap: 40px;
    a {
      font-family: var(--font-family);
      font-style: italic;
      font-weight: 600;
      font-size: 16px;
      color: #0cc0df;
    }
  }
  .actions {
    display: flex;
    align-items: center;
    gap: 12px;
    .lang {
      border-radius: 36px 18px;
      padding: 8px 11px;
      border: none;
      background-color: #fff;
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
    }
    .download {
      border-radius: 40px 20px;
      background: #0cc0df;
      padding: 11.5px 25.5px;
      font-family: var(--font-family);
      font-style: italic;
      font-weight: 600;
      font-size: 14px;
      color: #fff;
      border: none;
    }
  }
  .menu {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    svg {
      height: 40px;
    }
  }
}

.lang-dropdown-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  background: transparent;

}
.lang {
  border-radius: 36px 36px 0 0;
  padding: 8px 11px;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  z-index: 21;
  transition: border-radius 0.2s;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
 
}
 .flag{
    width: 24px !important;
    height: 24px !important;
    border-radius: 50%;
  }
.lang-dropdown {
  position: absolute;
  top: 110%;
  left: -35px;
  width: 140px;
  background: #fff;
  border-radius: 30px 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 20;
  border-top: none;
  transition: border-radius 0.2s;
}
.lang-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background: none;
  border: none;
  font-family: var(--font-family);
  font-size: 15px;
  color: #222;
  cursor: pointer;
  transition: background 0.15s;
  width: 50px;
  height: 46px;
  border-radius: 50%;
}
    
.arrow {
  transition: transform 0.2s;
}
