.container {
  max-width: 1400px;
  margin: 0 auto;
}
.HeroTitle {
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  background: linear-gradient(345deg, #00acca 0%, #00f97d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
