@media (max-width: 1000px) {
  .container {
    max-width: 94vw !important;
  }
  nav {
    gap: 15px !important;
    a {
      font-size: 14px !important;

    }
  }

  .hero {
    flex-direction: column;
    height: auto !important;
    justify-content: center !important;
    align-items: center;
    padding-top: 40px;
    .content {
      width: 80% !important;
      margin: 0 !important;
    }
    img {
      width: 70%;
      height: auto !important;
    }
  }
  .brands {
    .brandImg:nth-child(1) {
      display: none !important;
    }
    flex-wrap: wrap;
  }
  .download {
    flex-direction: column !important;
    height: auto !important;
    padding: 35px;
    align-items: center;
    justify-content: center;
    gap: 35px;
    .mob {
      display: block;
      width: 80%;
    }
    .des {
      display: none;
    }
    .actions {
      flex-direction: column;
      button {
        width: 100% !important;
      }
    }
    .content {
      margin: 0 !important;
      width: 100%;
      gap: 30px;
    }
  }
  .choices {
    flex-wrap: wrap !important;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .header {
    nav {
      display: none !important;
    }
    .menu {
      display: block;
    }
    .pm-button {
      display: none;
    }
  }
}
@media (max-width: 650px) {
  .header {
    padding: 16px 26px;
    .logo {
      width: 24.5%;
    }
    .lang {
      width: 60px;
      height: 30px;
      .flag {
        width: 20px !important;
        height: 20px !important;
      }
    }
    .lang-dropdown {
      img {
        width: 20px !important;
        height: 20px !important;
      }
      width: 120px;
      height: 35px;
    }
  }
  .hero {
    padding: 30px 15px;
    border-radius: 30px 15px;

    h1 {
      font-size: 24px !important;
    }
    img {
      display: none;
    }
    .imgMob {
      display: block !important;
      width: 95% !important;
    }
    .content {
      justify-content: center !important;
      align-items: center !important;
      text-align: center;
      width: auto !important;
    }
  }
  .brands {
    .brandImg:nth-child(1) {
      display: none !important;
    }
    .brandImg:nth-child(5) {
      display: none !important;
    }
    .brandImg:nth-child(7) {
      display: none !important;
    }
    img {
      height: 40px;
    }
    flex-wrap: wrap;
  }
  h2 {
    font-size: 22px !important;
  }
  p {
    font-size: 16px !important;
  }
  .choices {
    img {
      width: 100px !important;
    }
  }
  .download {
    padding: 30px 20px;
    border-radius: 30px 15px;
  }
  .SocialMediaSec {
    .HeroTitle {
      margin-top: 50px !important;
      margin-bottom: 20px !important;
    }
    .SocilmediaBox_socialMedia {
      width: 100%;
    }
    a {
      width: 100% !important;
      border-radius: 40px 20px;
      padding: 10px 20px !important;
      background-color: white;
    }
  }
}
footer {
  height: auto !important;
  padding: 30px;
  margin-bottom: 10px !important;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.05);
  border-radius: 30px 15px;
  .footer_links {
    .tel .mail {
      font-size: 20px !important;
      color: #a471d8 !important;
      line-height: 0.3px !important;
      }
    img {
      margin: 0 0 20px 0 !important;
    }
    .footer_location {
      margin: 0 !important;
    }
    div {
      display: none;
    }
  }
}
